.show-page {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(246, 54, 54);
}

p,span{
    word-wrap: break-word;
}

.info {
    max-width: 185vh;
    width: 100%;
    margin: 70px 70px;
    background-color: rgb(0, 0, 0);
    display: flex;
}


    

.show-img {
    height: 100%;
    width: 40%;
    display: flex;
}

.show-img img {
    height: 90%;
    width: 70%;
    object-fit: cover;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.show-info {
    height: 100%;
    width: 60%;
    color: white;
    margin: 30px;

}

.show-info>*{
    margin: 30px;
}

.show-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.span{
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(108, 114, 114);
}

.span1{
    display: flex;
    flex-direction: column;
    
}

.span1>*{
    margin-bottom: 10px;
}